<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Cadastre-se</title>
</head>
<body>

    <div class = "container">
        <div class = "form-image">
            <img src="assets/img/img-hamburger-1.png" alt="">
        </div>
       
        <div class ="form">
                <div class = "form-header">
                    <div class = "tittle">
                        <h1>Cadastre-se</h1>
                    </div>
                    <div class = "login-button">
                        <button>
                            <a href="#">Entrar</a>
                        </button>
                    </div>
                </div>
                <div class ="input-group">
                    <div class="input-box">
                        <label for="firstname">Primeiro nome</label>
                        <input id="firstame" type="text" name="firstname" placeholder="Digite seu primeiro nome" required>
                    </div>

                    <div class="input-box">
                        <label for="lastname">Sobrenome</label>
                        <input id="lastname" type="text" name="lastname" placeholder="Digite seu sobrenome" required>
                    </div>

                    <div class="input-box">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu email" required>
                    </div>

                    <div class="input-box">
                        <label for="number">Celular</label>
                        <input id="number" maxlength="11" minlength="11" type="tel" name="number"  placeholder="(xx) x xxxx-xxxx">
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="password" placeholder="Crie sua senha" required>
                    </div>

                    <div class="input-box">
                        <label for="confirmpassword">Confirme sua senha</label>
                        <input id="confirmpassword" type="password" name="confirmpassword" placeholder="Confirme a senha" required>
                    </div>
                </div>
                <div class="continue-button">
                    <button><a href="#">Continuar</a></button>

                </div>
    
</body>
</html>